:root{
    --padding:1rem;
    --padding-half: 0.5rem;
    --transition: 300ms;
    --radius: 8px;
}
*{
    padding:0;
    margin:0;
    box-sizing: border-box;
}
body{
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    background: #9730fe;
    font-size: 16px;
    color: rgb(25, 25, 25)
}
.container{
    display: flex;
    min-height: 100vh;
}
.sidebar{
    flex: 20%;
    background: #ce9dff4d;
    backdrop-filter: blur(4px);
    padding: var(--padding-half);
    .sidebar-title{
        font-size: 2rem;
        color: #fff;
        margin-block: var(--padding);
    }
    &>h5{
        color: #fff;
        font-size: 2rem;
        padding: var(--padding-half)
    }
    .widget{
        padding: var(--padding);
        background: #ce9dff4d;
        backdrop-filter: blur(4px);
        margin-bottom: var(--padding-half);
        border-radius: var(--radius);
        color: #fff;
        position: sticky;
        top:0;

        .widget-title{
            color: #fff;
            font-size: 1.2rem;
            margin-bottom: var(--padding);
        }
    }

    .categories{
        display: flex;
        flex-direction: column;
        align-items: start;
        .category{
            display: inline-block;
            padding-block: var(--padding-half);
            transition: cubic-bezier(0.165, 0.84, 0.44, 1) var(--transition);
            text-transform: capitalize;
            cursor: pointer;
            &.active{
                color: rgb(255, 246, 74);
                margin-left: 0.3rem;
            }
        }
    }
}
.content{
    flex: 80%;
    background: #ce9dff4d;
    backdrop-filter: blur(4px);
    padding: var(--padding-half);
    .content-title{
        color: #fff;
        text-transform: capitalize;
        padding: var(--padding);
        font-weight: lighter;
    }
    .products{
        display: grid;
        grid-template-columns: repeat(4,1fr);
        grid-auto-rows: auto;
        grid-gap: var(--padding-half);
        align-items: start;
        transform-style: preserve-3d;
        perspective: 600px;
    }
    .product-card {
        display: flex;
        flex-direction: column;
        background: rgba(255, 255, 255, 0.165);
        backdrop-filter: blur(4px);
        border-radius: 8px;
        overflow: hidden;
        max-width: 300px;
        padding: var(--padding-half);
        transition: var(--transition);
        @starting-style{
            opacity: 0;
            transform: scale(0.9)
        }

        .product-image {
            width: 100%;
            height: 200px;
            object-fit: cover;
            border-radius: var(--radius);
        }
        
        
        .product-title {
            margin-block: var(--padding);
            color: #fff;
            font-size: 1.2em;
        }
        
        .product-category {
            margin: 5px 0;
            color: #474747;
            text-transform: capitalize;
        }

        .row{
            display: flex;
            align-items: center;
            justify-content: space-between;
        }

        .product-price{
            font-size: bold;
            color: rgb(248, 255, 53);
            font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
            font-size: 1.2rem;
        }

        .add-to-cart-button {
            padding: 5px 10px;
            background-color: #292929;
            color: white;
            border: none;
            border-radius: 5px;
            cursor: pointer;
            transition: background-color 0.3s;
        }
        
        .add-to-cart-button:hover {
            background-color: rgb(209, 214, 45);
            color: #2c2c2c;
        }
    }
    
    
    
}